body {
  margin: 0;
  min-height: 100vh;
}

.header{
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
  margin-bottom:16px;
  flex-wrap: wrap;
}

.first-container{
  background-color: #1f2937;
  padding: 25px 10%;

}

.logo{
  font-size: 24px;
  color: #f9faf8;
}

.title{
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}

ul{
  list-style-type: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

}

a{
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.header-text{
  color: #e5e7eb;
}

.inside-first-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.button{
  background-color: #3882f6;
  color: white;
  padding: 10px 24px;
  border-radius: 8px;
  border: none;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:flex-start;
  /* flex-wrap: 150px; */
}

.image{
  max-width: 100%;
  height: auto;
}

.second-container{
  padding: 25px 10%;
}

.information-header{
  font-size: 24px;
  color: #1f2937;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.images-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.images-container img{
  border-radius: 25px;
  width: 100%;
  max-width: 150px;
}

.information-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px

}

.information-text p{
  font-size: 16px;
  color: black;
  width: 100%;
  max-width: 150px;
}

.third-container{
  background-color: #E5E7EB;
  padding: 25px 10%;
}

.quote{
  font-size: 24px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;

}

.author{
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
  font-weight: bold;
}

.fourth-container{
  background-color: #3882f6;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 10%;;
  border-radius: 8px;
}


.action-button{
  background-color: #3882f6;
  color: white;
  padding: 10px 24px;
  border-radius: 8px;
  border-color: white;
}

.footer{
  display: flex;
  padding: 16px 10%;
  justify-content: center;
  background-color: #1f2937;
  color: white;

}


@media (max-width: 200px) {
  .header {
    flex-direction: column;
  }
  .inside-first-container{
    flex-direction: column;
  }


}
